<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/Estilos.css"> <!-- External CSS file -->
</head>
<body style="background: (#041E3F); padding-top: 60px;">
    <nav class="navbar is-fixed-top" id="main-navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="/Images/logo.png" alt="Logo" id="navbar-logo">
            </a>
        </div>

        <span class="control select" style="margin-top: 12px;">
            <form action="/establecimientos/buscar" method="get" id="establecimientoForm">
                <select name="id_Establecimiento" id="id_Establecimiento" onchange="document.getElementById('establecimientoForm').submit()">
                    <% for (establecimiento of establecimientos) { %>
                        <option value="<%= establecimiento.id %>"><%= establecimiento.nombre %></option>
                    <% } %>
                </select>
            </form>
            
            
        </span>
    
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="navbar-link" href="misClientes">Mis Clientes</a>
                    <a class="navbar-link" href="misSucursales">Mis Sucursales</a>
                    <a class="navbar-link" href="misVersiones">Mis Tarjetas</a>
                    <a class="navbar-link" href="miInformacion">Mi Informacion</a>
                    <a class="navbar-link" href="miEquipo">Mi Equipo</a>
                    <a class="navbar-link" href="reportes">Reportes</a>
                    <a class="button" id="login-button" href="usuario/login">
                        Iniciar Sesión
                    </a>
                </div>
            </div>
        </div>
    </nav>

</body>
</html>
