<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="Public/Estilos.css"> <!-- External CSS file -->
</head>
<body>
    <nav class="navbar is-fixed-top" id="main-navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="public/Images/logo.png" alt="Logo" id="navbar-logo">
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="navbar-link" href="misTarjetas.ejs">Mis tarjetas</a>
                    <a class="navbar-link" href="miEquipo.ejs">Mi equipo</a>
                    <a class="navbar-link" href="reportes">Reportes</a>
                    <a class="button" id="login-button" href="#">
                        Iniciar Sesión
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <script src="navbar.ejs"></script> <!-- External JS file -->
</body>
</html>
