<%- include('partials/head.ejs', { establecimientos: establecimientos, id_Establecimiento: id_Establecimiento, }) %>

    <div class="container centrado2">
        <h1 class="error-title">Error 404: Página no encontrada</h1>
        <p class="error-message">Lo sentimos, pero la página que buscas no está disponible.</p>
        <a href="<%= process.env.PATH_SERVER %>misTarjetas" class="btn-home">Volver al inicio</a>
    </div>