<%- include('partials/head.ejs', {establecimientos: establecimientos}) %>

<div class="container centrado2">
    <h1 class="error-title">Error 404: Página no encontrada</h1>
    <p class="error-message">Lo sentimos, pero la página que buscas no está disponible.</p>
    <a href="/misTarjetas" class="btn-home">Volver al inicio</a>
</div>
