<%- include('partials/head.ejs') %>

<div class="container">
    <h1>Error 404: Página no encontrada</h1>
    <p>Lo sentimos, pero la página que buscas no está disponible.</p>
    <a href="/">Volver al inicio</a>
</div>