<%- include('partials/head.ejs', { 
    isLoggedIn: isLoggedIn, 
    permisos: permisos, 
    usuario: usuario,
    establecimientos:establecimientos, 
    id_Establecimiento: id_Establecimiento,
}) %>
<style>
    html, body {
        height: 100%;
    }
    .is-fullheight {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>

<section class="section is-fullheight">
    <div class="container">
        <h1 class="title is-1 is-size-0 has-text-centered" id="colortextoazul" style="font-size: 7rem;">
            Bienvenido 
            <br>
            <%= usuario.Nombre %>!
        </h1>
    </div>
</section>