<%- include('partials/head.ejs') %>

<div class='container'>
    <br>
    <h1 class="title title-large">Configuración</h1>
</div>

<section class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-half">
                <!-- Caja con campo de texto para ingresar el nombre -->
                <div class="box mx-6">
                    <article class="message">
                        <div class="message-header" id="colorarticulo">
                            <p>Nombre</p>
                        </div>
                        <div class="message-body">
                            <!-- Campo de entrada de texto para el nombre -->
                            <input class="input" type="text" placeholder="Ingresa tu nombre"  style="width: 100%;">
                        </div>
                    </article>
                </div>
            
                <!-- Caja de Email (sigue igual) -->
                <div class="box mx-6">
                    <article class="message">
                        <div class="message-header" id="colorarticulo">
                            <p>Email</p>
                        </div>
                        <div class="message-body">
                            <!-- Campo de entrada de texto para el nombre -->
                            <input class="input" type="text" placeholder="Ingresa tu nombre"  style="width: 100%;">
                        </div>
                    </article>
                </div>
            
                <!-- Añadir más recuadros según sea necesario -->
            </div>            

            <!-- Columna derecha con la imagen -->
            <div class="column is-half">
                <figure style="width: 100%;">
                    <img src="/images/tarjeta.png" alt="Tarjeta de lealtad">
                </figure>
            </div>
        </div>
    </div>
</section>