<%- include('partials/head.ejs') %>

<div class='container'>
    <br>
    <h1 class="title title-large">Configuración</h1>
    <br>
</div>

<!-- Botones para cambiar entre Tarjeta, Etapa, Sellos -->
<div class="buttons" style="margin-top: 20px; margin-left: 10%;" >
    <button class="button is-primary is-rounded" onclick="cambiarCampos('tarjeta')">Tarjeta</button>
    <button class="button is-primary is-rounded" onclick="cambiarCampos('etapa')" style="margin-left: 10px;">Etapa</button>
    <button class="button is-primary is-rounded" onclick="cambiarCampos('sellos')" style="margin-left: 10px;">Sellos</button>
</div>

<section class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <!-- Campos para Tarjeta -->
            <div id="tarjetaCampos" class="column is-half" style="display: block;">
                <div class="box mx-6">
                    <article class="message">
                        <div class="message-header" id="colorarticulo">
                            <p>Número de Tarjeta</p>
                        </div>
                        <div class="message-body">
                            <input class="input" type="text" placeholder="Ingresa el número de tarjeta" style="width: 100%;">
                        </div>
                    </article>
                </div>
            </div>

            <!-- Campos para Etapa -->
            <div id="etapaCampos" class="column is-half" style="display: none;">
                <div class="box mx-6">
                    <article class="message">
                        <div class="message-header" id="colorarticulo">
                            <p>Nombre de la Etapa</p>
                        </div>
                        <div class="message-body">
                            <input class="input" type="text" placeholder="Ingresa el nombre de la etapa" style="width: 100%;">
                        </div>
                    </article>
                </div>
            </div>

            <!-- Campos para Sellos -->
            <div id="sellosCampos" class="column is-half" style="display: none;">
                <div class="box mx-6">
                    <article class="message">
                        <div class="message-header" id="colorarticulo">
                            <p>Cantidad de Sellos</p>
                        </div>
                        <div class="message-body">
                            <input class="input" type="text" placeholder="Ingresa la cantidad de sellos" style="width: 100%;">
                        </div>
                    </article>
                </div>
            </div>

            <!-- Columna derecha con la imagen -->
            <div class="column is-half">
                <figure style="width: 100%;">
                    <img src="/images/tarjeta.png" alt="Tarjeta de lealtad">
                </figure>
            </div>
        </div>
    </div>
</section>


<script src="/js/configButtons.js"></script>