<%- include('partials/head.ejs') %>
    <br>

    <h1 class="title title-large" style="margin-left: 10%;"> Crear Etapa</h1>

    <br><br><br>

    <div class="columns is-vcentered" style="padding-left: 10%;">
        <div class="column is-half">
            <div class="box">
                <div class="control">
                    <p class="subtitle is-size-4"><strong>Cantidad de Sellos</strong></p>
                    <input class="input" type="text" placeholder="Ej. 10" id="" />
                </div>

                <br>

                <div class="control">
                    <p class="subtitle is-size-4"><strong>Minimo de Compra</strong></p>
                    <input class="input" type="text" placeholder="Ej. 100" />
                </div>

                <br>

                <div class="control">
                    <p class="subtitle is-size-4"><strong>Descuento</strong></p>
                    <input class="input" type="text" placeholder="Ej. 10" />
                </div>

                <br><br><br>

                <button class="button is-primary is-rounded is-extended">Crear</button>

            </div>

        </div>
        <div class="column is-half">
            <!-- Aquí va la imagen de la etapa -->
        </div>
    </div>