<%- include('partials/head.ejs') %>
<br>
<br>
<br>

<div class="container">
    <div class="columns">
        <div class="column">
            <p class="notification"> Kanye West
                <img src="" alt="Foto de Kanye">
            </p>
        </div>

        <div class="column">
            <p class="notification"> Alan Herrera 
                <img class="image" src="" alt="Foto de Alan">
            </p>
        </div>

    </div>
</div>