<%- include('partials/head.ejs') %>
<br>
<br>
<br>

<div class="container">
    <div class="columns">
        <div class="column">
                <article id="colorarticulo" class="message">
                    <div class="message-header has-text-centered"> Kanye West </div>
                    <div class="message-body"> 
                        <img class="image" src="" alt="Foto de Ye">
                        Edad: 47  <br>
                        Domicilio: Chicago <br>
                        Telefono : +52 4447142524    
                    </div>
                </article>
        </div>

        <div class="column">
                <article id="colorarticulo" class="message">
                    <div class="message-header has-text-centered"> Alan Herrera </div>
                    <div class="message-body"> 
                        <img class="image" src="" alt="Foto de Alan">
                        Edad: 20 <br>
                        Domicilio: El Refugio <br>
                        Telefono : +52 4447142524    
                    </div>
                </article>
        </div>

    </div>
</div>