<%- include('partials/head.ejs') %>

<div class="container">
    <div class="columns">
        <div class="column">
            <p class="notification"> Kanye West </p>
            <figure class="image">
                <img src="" alt="Foto de Kanye">
            </figure>
        </div>

        <div class="column">
            <p class="notification"> Alan Herrera </p>
            <figure class="image">
                <img src="" alt="Foto de Alan">
            </figure>
        </div>
        
    </div>
</div>