<%- include('partials/head.ejs', {
    establecimientos: establecimientos,
    id_Establecimiento: request.session.establecimiento_id,
    }) %>
<br>
<br>
<br>

<div class="container">
    <div class="columns">
        <div class="column">
                <article class="message">
                    <div id="colorarticulo" class="message-header has-text-centered"> Kanye West </div>
                    <div class="message-body"> 
                        <img class="image" src="/public/Images/ye.jpg" alt="Foto de Ye">
                        Edad: 47  <br>
                        Domicilio: Chicago <br>
                        Telefono : +52 4447142524    
                    </div>
                </article>
        </div>

        <div class="column">
                <article class="message">
                    <div id="colorarticulo" class="message-header has-text-centered"> Alan Herrera </div>
                    <div class="message-body"> 
                        <img class="image" src="" alt="Foto de Alan">
                        Edad: 20 <br>
                        Domicilio: El Refugio <br>
                        Telefono : +52 4447142524    
                    </div>
                </article>
        </div>
    </div>
</div>

<div class="container">
    <div class="columns">
        <div class="column">
                <article class="message">
                    <div id="colorarticulo" class="message-header has-text-centered"> Gael Terán </div>
                    <div class="message-body"> 
                        <img class="image is-24x24" src="" alt="Foto de Gael">
                        Edad: 20  <br>
                        Domicilio: Villamagna <br>
                        Telefono : +52 4447142524    
                    </div>
                </article>
        </div>

        <div class="column">
                <article class="message">
                    <div id="colorarticulo" class="message-header has-text-centered"> Kendrick Lamar </div>
                    <div class="message-body"> 
                        <img class="image" src="/public/Images/kdot.jpg" alt="Foto de Kendrick">
                        Edad: 37 <br>
                        Domicilio: Compton <br>
                        Telefono : +52 4447142524    
                    </div>
                </article>
        </div>
    </div>
</div>


