<%- include('partials/head.ejs') %>

<div>
    <div class='container'>
        <h2>Mi informacion</h2>
    </div>
    <article class="message colorarticulo">
        <div class="message-header"><p>Nombre</p>
        </div>
        <div class="message-body">
            Gael Alberto Terán Cásares
        </div>
    </article>
    <br>
    <article class="message colorarticulo">
        <div class="message-header"><p>Fecha de nacimiento</p>
        </div>
        <div class="message-body">
            23/08/2004
        </div>
    </article>
    <br>
    <article class="message colorarticulo">
        <div class="message-header">
            Establecimiento
        </div>
        <div class="message-body">
             Chilako Queretaro Benito Juarez #127
        </div>
    </article>
    <article class="message colorarticulo">
        <div class="message-header">
            Género
        </div>
        
        <div class="message-body">
            Hombre
        </div>

    </article>
</div>