<%- include('partials/head.ejs') %>

<div class='container'>
    <br>
    <h1 id="colortextoazul" class="title title-large">Mi informacion</h1>
</div>

<br>

<div>
    <div class="box mx-6">
    <article class="message">
        <div class="message-header" id="colorarticulo"><p>Nombre</p>
        </div>
        <div class="message-body">
            Gael Alberto Terán Cásares
            <img class="arrow" src="\Images\lapiz.png" alt="Editar" style="float: right; width: 20px; height: 20px;">
        </div>
    </article>
    <br>
    <article class="message">
        <div class="message-header" id="colorarticulo"><p>Fecha de nacimiento</p>
        </div>
        <div class="message-body">
            23/08/2004
            <img class="arrow" src="\Images\lapiz.png" alt="Editar" style="float: right; width: 20px; height: 20px;">
        </div>
    </article>
    <br>
    <article class="message">
        <div class="message-header" id="colorarticulo">
            Establecimiento
        </div>
        <div class="message-body">
             Chilako Queretaro Benito Juarez #127
             <img class="arrow" src="\Images\lapiz.png" alt="Editar" style="float: right; width: 20px; height: 20px;">
        </div>
    </article>
    <article class="message">
        <div class="message-header" id="colorarticulo">
            Género
        </div>
        
        <div class="message-body">
            Hombre
            <img class="arrow" src="\Images\lapiz.png" alt="Editar" style="float: right; width: 20px; height: 20px;">
        </div>
    </div>
    </article>
</div>