<%- include('partials/head.ejs') %>
    <br>
    <br>
    <br>
    <h1 class="title is-1 has-text-weight-bold" style="margin-left: 10%;"> Mis Clientes </h1>
    <br>
    <div class="">
        <a class="button is-primary has-text-centered is-rounded" style="margin-left: 10%;"> Registrar Cliente </a>
    </div>
    <br>
    <br>

    <section>
        <div class="container">
            <div class="field iconosearchbar">
                <div class="control">
                    <input class="input" type="text" placeholder="Tel. Cliente" name="SearchTarjeta" id="SearchTarjeta">
                </div>
                <img src="https://icones.pro/wp-content/uploads/2021/06/icone-loupe-gris.png" alt="lupa">
            </div>
        </div>
    </section>

    <br>
    <br>

    <div class="box" style="margin-left: 10%; margin-right: 10%;">
        <div class="columns is-vcentered">

            <div class="column is-half">
                <h2 class="is-size-4 has-text-weight-bold">Información:</h2>
                <p class="subtitle is-size-5"><strong>Nombre:</strong>

                </p>
                <p class="subtitle is-size-5"><strong>Genero:</strong>

                </p>
                <p class="subtitle is-size-5"><strong>Edad:</strong>

                </p>

                <div class="buttons">
                    <button class="button is-primary is-rounded">Registrar sello</button>
                </div>
            </div>

            <div class="column is-half">
                <figure class="image">
                    <!-- Aquí va la imagen de la tarjeta -->
                </figure>
            </div>

        </div>
    </div>