<%- include('partials/head.ejs') %>
<br>
<br>
<br>
<h1 class="title is-1 has-text-weight-bold has-text-centered"> Mis Sucursales </h1>
<br>
<div class="button is-primary has-text-centered"> Registrar Cliente </div>