<%- include('partials/head.ejs') %>
<br>
<br>
<br>
<h1 class="title is-1 has-text-weight-bold"> Mis Sucursales </h1>
<br>
<section>
    <div class="container">
        <div class="field iconosearchbar">
            <div class="control">
                <input class="input" type="text" placeholder="Sucursal" name="SearchSucursal" id="SearchSucursal">
            </div>
            <img src="https://icones.pro/wp-content/uploads/2021/06/icone-loupe-gris.png" alt="lupa">
        </div>
    </div>
</section>
