<%- include('partials/head.ejs', {establecimientos: establecimientos}) %>
<br>
<br>
<br>
<h1 class="title is-1 has-text-weight-bold has-text-centered"> Mis Sucursales </h1>
<br>
<section>
    <div class="container">
        <form action="/sucursal/searchBar" method="get">
            <div class="field iconosearchbar">
                <div class="control">
                    <input class="input" type="text" placeholder="Sucursal" name="SearchSucursal" id="SearchSucursal">
                </div>
                <img src="https://icones.pro/wp-content/uploads/2021/06/icone-loupe-gris.png" alt="lupa">
            </div>
        </form>
    </div>
</section>

<section>
    <div class="container">
        <br><br>
        <% console.log(sucursales) %>
        <% for (sucursal of sucursales) { %>
            <% console.log(sucursal);%>
            <div class="box cambio-cursor">
                <img  class="is-rounded" style="border-radius: 10px;" src="/Public/Images/chilako.png" alt="Foto chilako">
                <h1 class="title has-text-centered"><%sucursal.Direccion%></h1>
                <div class="has-text-right">
                    Entidad: <%sucursal.Entidad%> <br><br>
                </div>
                <br>
                <br>
                <form action="/sucursal/modificar" method="post">
                    <button class="button is-primary"> Modificar </button>
                </form>
                <button class="button is-danger"> Eliminar </button>
            </div>
        <% } %>
    </div>
</section>
