<%- include('partials/head.ejs') %>

<h2> Mis Sucursales </h2>
<br>
<br>
<br>
<div class="control">
    <input class="input" type="text" placeholder="Sucursal" name="SearchSucursal" id="SearchSucursal">
    <img class="iconosearchbar" src="https://icones.pro/wp-content/uploads/2021/06/icone-loupe-gris.png" alt="lupa">
</div>

