<%- include('partials/head.ejs') %>

    <h1 class="title title-large">Mis Tarjetas</h1>

    <br>
    <br>

    <button class="is-primary is-rounded">Crear nueva tarjeta</button>

    <div class="tarjetas">
        <% tarjetas.forEach(tarjeta=> { %>
            <div class="box">
                <div class="left">
                    <h2 class="is-size-4 has-text-weight-bold">Informacion:</h2>
                    <p class="subtitle is-size-5"><strong>Versión:</strong>
                        <%= tarjeta.version %>
                    </p>
                    <p class="subtitle is-size-5"><strong>Fecha de caducidad:</strong>
                        <%= tarjeta.fecha_caducidad %>
                    </p>
                </div>
                <div class="right">
                    <img src="imagenes/<%= tarjeta.imagen %>" alt="Imagen de tarjeta">
                </div>
            </div>
            <% }) %>
    </div>