<%- include('partials/head.ejs', { isLoggedIn: isLoggedIn, permisos: permisos, usuario: usuario, establecimientos:
    establecimientos, id_Establecimiento: id_Establecimiento }) %>


    <br><br><br>

    <h1 class="title title-large" style="margin-left: 10%;">Mis Tarjetas</h1>


    <br>

    <a href="/crearTarjeta">
        <button class="button is-primary is-rounded" style="margin-left: 10%;">Crear nueva tarjeta</button>
    </a>

    <br><br><br>

    <div class="tarjetas">
        <% if (tarjetas.length===0) { %>
            <p class="title is-3" style="margin-left: 10%;">No hay tarjetas disponibles para este establecimiento.</p>
            <% } else { %>
                <% tarjetas.forEach(tarjeta=> { %>
                    <div class="box" style="margin-left: 10%; margin-right: 10%;">
                        <div class="columns is-vcentered">

                            <div class="column is-half">
                                <h2 class="is-size-4 has-text-weight-bold">Información:</h2>
                                <p class="subtitle is-size-5"><strong>Versión:</strong>
                                    <%= parseFloat(tarjeta.Version).toFixed(1) %>
                                </p>
                                <p class="subtitle is-size-5"><strong>Fecha de emisión:</strong>
                                    <%= tarjeta.Emision %>
                                </p>

                                <div class="buttons">
                                    <button class="button is-primary is-rounded">Editar</button>

                                    <form action="<%= process.env.PATH_SERVER %>tarjeta/eliminar" method="post">
                                        <button class="button is-danger is-rounded">Eliminar</button>
                                    </form>
                                </div>
                            </div>

                            <div class="column is-half">
                                <figure class="image">
                                    <!-- Aquí va la imagen de la tarjeta -->
                                </figure>
                            </div>

                        </div>
                    </div>
                    <br>
                    <% }) %>
                        <% } %>
    </div>