<%- include('partials/head.ejs') %>
    <br>

    <h1 class="title title-large" style="margin-left: 10%;"> Modificar tarjeta</h1>

    <br><br>

    <div>
        <h2 class="title is-3" style="margin-left: 10%;">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="40"
                height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M5 12l4 4" />
                <path d="M5 12l4 -4" />
            </svg>

            Etapas
        </h2>
    </div>

    <br><br>

    <button class="button is-primary is-rounded" style="margin-left: 10%;">Crear etapa</button>