<%- include('partials/head.ejs', {establecimientos: establecimientos}) %>

<div class='container'>
    <br>
    <h1 id="colortextoazul" class="title title-large">Registro</h1>
</div>

<br>

<div>
    <div id="tarjetaCampos" style="display: block;">
        <form action="<%= process.env.PATH_SERVER %>/registro" method="POST">
            <div class="box mx-6">
                <article class="message">
                    <div class="message-header" id="colorarticulo">
                        <p>Nombre</p>
                    </div>
                    <div class="message-body">
                        <input class="input" type="text" name="Nombre" placeholder="Ingresa tu nombre" style="width: 100%;">
                    </div>
                </article>
            </div>

            <div class="box mx-6">
                <article class="message">
                    <div class="message-header" id="colorarticulo">
                        <p>Apellido</p>
                    </div>
                    <div class="message-body">
                        <input class="input" type="text" name="Apellido" placeholder="Ingresa tu apellido" style="width: 100%;">
                    </div>
                </article>
            </div>

            <div class="box mx-6">
                <article class="message">
                    <div class="message-header" id="colorarticulo">
                        <p>Teléfono</p>
                    </div>
                    <div class="message-body">
                        <input class="input" type="tel" name="Telefono" placeholder="Ingresa tu teléfono" style="width: 100%;">
                    </div>
                </article>
            </div>

            <div class="box mx-6">
                <article class="message">
                    <div class="message-header" id="colorarticulo">
                        <p>Fecha de nacimiento</p>
                    </div>
                    <div class="message-body">
                        <input class="input" type="date" name="FechaNacimiento" style="width: 100%;">
                    </div>
                </article>
            </div>

            <div class="box mx-6" style="text-align: center;">
                <input type="submit" class="button is-primary" value="Registrar"> 
            </div>
        </form>
    </div>
</div>
