<%- include('partials/head.ejs', {
    establecimientos: establecimientos,
    id_Establecimiento: id_Establecimiento,
    }) %>

    <div class='container'>
        <br>
        <h1 class="title title-large">Reportes</h1>
    </div>

    <div class="box mx-6">
        <div class="columns is-vcentered">
            <div class="column is-half">
                <div class="content">
                    <h2 class="subtitle has-text-weight-semibold">Top clientes</h2>
                    <p>
                        Aquí puedes mostrar información adicional o una breve descripción sobre las personas con más
                        promociones cobradas.
                    </p>
                </div>
            </div>
            <div class="column is-half">
                <figure class="image is-4by3">
                    <img src="/images/TopClientes.jfif" alt="Días con más sellos">
                </figure>
            </div>
        </div>
    </div>

    <div class="box mx-6">
        <div class="columns is-vcentered">
            <div class="column is-half">
                <div class="content">
                    <h2 class="subtitle has-text-weight-semibold">Rango de edades</h2>
                    <p>
                        Aquí puedes mostrar información adicional o una breve descripción sobre los rangos de edades.
                    </p>
                </div>
            </div>
            <div class="column is-half">
                <figure class="image is-4by3">
                    <img src="/images/Edad.jfif" alt="Días con más sellos">
                </figure>
            </div>
        </div>
    </div>

    <div class="box mx-6">
        <div class="columns is-vcentered">
            <div class="column is-half">
                <div class="content">
                    <h2 class="subtitle has-text-weight-semibold">Días con más sellos</h2>
                    <p>
                        Aquí puedes mostrar información adicional o una breve descripción sobre los días con más sellos.
                    </p>
                </div>
            </div>
            <div class="column is-half">
                <figure class="image is-4by3">
                    <img src="/images/DiasSellos.jfif" alt="Días con más sellos">
                </figure>
            </div>
        </div>
    </div>

    <!-- Sección para el gráfico de barras de Top Tenderos -->
    <div class="box mx-6">
        <div class="columns is-vcentered">
            <div class="column is-half">
                <div class="content">
                    <h2 class="subtitle has-text-weight-semibold">Top Tenderos</h2>
                    <p>
                        Aquí puedes mostrar información adicional o una breve descripción sobre los tenderos con más sellos.
                    </p>
                </div>
            </div>
            <div class="column is-half">
                <canvas id="topTenderosChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>

    <!-- Incluir Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
// Función para obtener datos del servidor
async function fetchTopTenderos() {
    const response = await fetch('<%= process.env.PATH_SERVER %>reportes/topTenderos'); 
    if (!response.ok) {
        throw new Error('Error al obtener datos de los Tenderos');
    }
    return await response.json();
}
</script>
<!-- Incluir tu script personalizado -->
<script src="<%= process.env.PATH_SERVER %>js/reportesChart.js"></script>